/*
 *
 *.||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.
 *
 *  .                                      '||            .           
 *.||.  .... ... ... ...    ....  ... ...   ||   ....   .||.    ....  
 * ||    '|.  |   ||'  || .|...||  ||'  ||  ||  '' .||   ||   .|...|| 
 * ||     '|.|    ||    | ||       ||    |  ||  .|' ||   ||   ||      
 * '|.'    '|     ||...'   '|...'  ||...'  .||. '|..'|'  '|.'  '|...' 
 *      .. |      ||               ||                                 
 *       ''      ''''             ''''                                
 *
 * URL ............ http://typeplate.com
 * VERSION ........ 1.1.1
 * Github ......... https://github.com/typeplate/typeplate.github.io
 * AUTHORS ........ Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
 * LICENSE ........ Creative Commmons Attribution 3.0
 * LICENSE URL .... http://creativecommons.org/licenses/by/3.0
 *
 * .||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.
 *
 */



/**
 *
 * =======================================================================
	 Unicode Ampersand
 * =======================================================================
 */

@font-face {
	font-family: "Ampersand";
	src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
	unicode-range: U+0026;
}

@font-face {
	font-family: "Ampersand";
	src: local("Georgia");
	unicode-range: U+270C;
}

/**
 *
 * =======================================================================
 * Drop Capitals:
 * Extend this object into your markup.

	 <p class="drop-cap">What a wonderful day it is out there wouldn't you'd say?</p>

	* =======================================================================
 */


article p:first-of-type:first-letter  {
	float: left;
	margin: auto .25em auto auto;
	padding: inherit;
	font-size: 3em;
	font-family: inherit;
	line-height: 1;
	text-indent: 0;
	background: transparent;
	color: inherit;
}


/**
 *
 * =======================================================================
	 Base Type
 * =======================================================================
 *
 */

html {
	font: normal 112.5%/1.65 serif; /* base font size 18px with 1.65 line-height */
	font-family: Lato, ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, Arial, serif;
	/*font-family: sans-serif;*/
	/*font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;*/
	/*font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, sans-serif;*/
}

body {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
	color: #444444;
}


/**
 *
 * =======================================================================
	 Fine Print
 * =======================================================================
 */

small {
	font-size: 65%;
}


/**
 *
 * =======================================================================
	 Headings
 * =======================================================================
 */

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1;
	margin-top: 0;
	text-rendering: optimizeLegibility; /*  voodoo to enable ligatures and kerning | https://developer.mozilla.org/en-US/docs/CSS/text-rendering */
	color: #222222;
	font-family: Arial, Helvetica, sans-serif;
}


/**
* Extend included classes on any element of your
* choosing for adjusting type based on the scale
* provided.

* For example:

 <h6 class="giga">Awesome Headline</h6>
 <p class="tera">a story about a dude</p>

* Our Type Scale is as follows with px fallbacks
* for IE 6-8 as they do not understand REM units.
*
* 18, 21, 24, 36, 48, 60, 72, 90, 117
*
*/

h1,
.alpha {
	font-size: 60px;
	font-size: 3.33333rem; /* 60 / 18 = 3.3333 */
	margin-bottom: 0.495em;
}

h2,
.beta {
	font-size: 48px;
	font-size: 2.6667rem; /* 48 / 18 = 2.6667 */
	margin-bottom: 0.61875rem;
}

h3,
.gamma {
	font-size: 36px;
	font-size: 2rem; /* 36 / 18 = 2 */
	margin-bottom: 0.825em;
}

h4,
.delta {
	font-size: 24px;
	font-size: 1.3333333333333333rem; /* 24 / 18 = 1.3333 */
	margin-bottom: 1.2375em;
}

h5,
.epsilon {
	font-size: 21px;
	font-size: 1.16667rem; /* 21 / 18 = 1.1667 */
	margin-bottom: 1.4142857142857141em; /* measure( base font-size(18) * base line-height(1.65) ) / current font-size(21) = margin-bottom(1.4142857142857141) */
}

h6,
.zeta {
	font-size: 18px;
	font-size: 1rem; /* 18 = 18 × 1 */
	margin-bottom: 1.65em; /* measure( base font-size(18) * base line-height(1.65) ) / current font-size(18) = margin-bottom(1.65) */
}

/* margin-bottom for headings:
 *
 * Explanation:
 * Makes sure that there's always one unit of measure's worth of space between shit
 * for headings. This is better than spacing using line-height because of the wrapping issue where we have
 * wrapping onto 2 lines with a high line-height.
 */


/**
 *
 * =======================================================================
	 Paragraphs and Indentation
 * =======================================================================
 */

p {
	margin: auto auto 1.5em; /* bottom margin for paragraphs */
}

/**
 *
 * =======================================================================
	 Hyphens
 * =======================================================================
 */

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
	/* Accepted values: [ none | manual | auto ] */ /* http://meyerweb.com/eric/thoughts/2012/12/17/where-to-avoid-css-hyphenation */
	-webkit-hyphens: none; /* Safari 5.1 thru 6, iOS 4.2 thru 6 */
	-moz-hyphens: none; /* Firefox 16 thru 20 */
	-ms-hyphens: none; /* IE10 */
	-o-hyphens: none; /* PRESTO...haha LOL */
	hyphens: none;	 /* W3C standard */
}


/**
 *
 * =======================================================================
	 Code Blocks
 * =======================================================================
 */

code {
	white-space: pre;
	font-family: Pragmata, Menlo, 'DejaVu LGC Sans Mono', 'DejaVu Sans Mono', Consolas, 'Everson Mono', 'Lucida Console', 'Andale Mono', 'Nimbus Mono L', 'Liberation Mono', FreeMono, 'Osaka Monospaced', Courier, 'New Courier', monospace;
	font-size: 0.60rem;
	background-color: #F0F0F0;
	padding: 5px;
	padding-bottom: 10px; /* scroll bars obscure visiblity */
}



